-
    var author = {name: 'Vitalii Doroshenko', site:'Личный сайт веб разработчика'};

    var pageTitles = {blog:'Блог'};
    var pageSubtitles={blog:'Статьи, которые я написал'};

    var navLinks=[
    {title:'Мои работы',
    href:'works'
    },
    {title:'Обо мне',
    href:'about-me'
    },
    {title:'Блог',
    href:'blog'
    },
    {title:'Авторизация',
    href:'/'
    }
    ];

    var navButtons=[
    {title:'Мои работы',
    href:'works'
    },
    {title:'Обо мне',
    href:'about-me'
    },
    {title:'Блог',
    href:'blog'
    }
    ];

    var modalWindowLinks = [
    {name:'Мои работы',
    href:'works.html'},
    {name:'Блог',
    href:'blog.html'},
    {name:'Обо мне',
    href:'about-me.html'},
    {name:'Авторизация',
    href:'index.html'}

    ];

    var socialLinks = [
    {name:'vk',
    href:'#'},
    {name:'github',
    href:'https://github.com/vetalxpro'},
    {name:'in',
    href:'#'}
    ];



    var contacts = [
    {name:'skype',
    text:'vetaloptimus',
    href:'skype:vetaloptimus',
    icon:'skype'},
    {name:'email',
    text:'vetalpro.exe@gmail.com',
    href:'mailto:vetalpro.exe@gmail.com',
    icon:'envelope2'},
    {name:'phone',
    text:'+7 931 200 93 24',
    href:'tel:+79312009324',
    icon:'phone2'},
    {name:'adress',
    text:'г. Одесса, ул. Пионерская, д.20',
    href:'#',
    icon:'map_marker'}
    ];
    var testSkills={
    Frontend:{
    html5:90,
    css3:80,
    js:70
    },
    Backend:{
    php: 30,
    mysql:60,
    nodejs:75,
    mongo:50
    },
    Workflow:{
    git:90,
    gulp:80,
    bower:700
    }

    }
