-
    var author = {name: 'Vitalii Doroshenko', site:'Личный сайт веб разработчика'};

    var pageTitles = {blog:'Блог'};
    var pageSubtitles={blog:'Статьи, которые я написал'};

    var navLinks=[
    {title:'Мои работы',
    href:'works'
    },
    {title:'Обо мне',
    href:'about-me'
    },
    {title:'Блог',
    href:'blog'
    },
    {title:'Авторизация',
    href:'/'
    }
    ];

    var navButtons=[
    {title:'Мои работы',
    href:'works'
    },
    {title:'Обо мне',
    href:'about-me'
    },
    {title:'Блог',
    href:'blog'
    }
    ];

    var modalWindowLinks = [
    {name:'Мои работы',
    href:'works.html'},
    {name:'Блог',
    href:'blog.html'},
    {name:'Обо мне',
    href:'about-me.html'},
    {name:'Авторизация',
    href:'index.html'}

    ];

    var socialLinks = [
    {name:'vk',
    href:'#'},
    {name:'github',
    href:'https://github.com/vetalxpro'},
    {name:'in',
    href:'#'}
    ];

//    var works=[
//    {pic:'img/lorem1.jpg',
//    link:'#1',
//    tech:'html, css, javascript',
//    title:'Сайт школы онлайн Образования'},
//    {pic:'img/lorem2.jpg',
//    link:'#2',
//    tech:'css',
//    title:'title-2'},
//    {pic:'img/lorem3.jpg',
//    link:'#3',
//    tech:'js',
//    title:'title-3'},
//    {pic:'img/lorem4.jpg',
//    link:'#4',
//    tech:'gulp',
//    title:'title-4'},
//    {pic:'img/lorem5.jpg',
//    link:'#5',
//    tech:'mongo, css, jquery, angular, react',
//    title:'Очень длинное название проекта'}
//    ];

    var contacts = [
    {name:'skype',
    text:'vetaloptimus',
    href:'skype:vetaloptimus',
    icon:'skype'},
    {name:'email',
    text:'vetalpro.exe@gmail.com',
    href:'mailto:vetalpro.exe@gmail.com',
    icon:'envelope2'},
    {name:'phone',
    text:'+7 931 200 93 24',
    href:'tel:+79312009324',
    icon:'phone2'},
    {name:'adress',
    text:'г. Одесса, ул. Пионерская, д.20',
    href:'#',
    icon:'map_marker'}
    ];
