extends layouts/_admin-layout

block variables
    -var title ='Администрирование - Сайт портфолио'
    include _variables

block main-styles

    link(rel='stylesheet' href='css/main.css')


block main-scripts

    script(src='js/script.js' defer)



block content

    .wrapper-admin
        include templates/headers/_header-admin
        include templates/main/admin/_admin-main
