main.blog#blog
    svg.triangle(viewBox="0 0 1000 82" preserveAspectRatio="none")
        polygon.triangle__left(points="0,0 0,85 500.5,85 500.5,80")
        polygon.triangle__right(points="500,80 1000,0 1000,85 500,85")
    .anchor.works__anchor
        a.anchor__link(href='#blog')
            svg(class='anchor__icon' width="30" height="30")
                use(xlink:href='img/svg-sprites/sprite.svg#arrow_down')
    .container
        aside.blog__sidebar
            ul.blog__sidebar-list
                each item,i in articles
                    li(class='blog__sidebar-item'+(item.active?' active':''))
                        a(href='#article'+i class='blog__sidebar-link')= item.title
        .blog__articles-container
            each item,i in articles
                article(class='article blog__article' id='article'+i)
                    h3.article__title=item.title
                    time.article__date(datetime=item.date)=item.date.toLocaleDateString('ru')
                    p.article__text=item.text
    include ../../elements/_modal-window
