.admin-main
  position: relative
  min-height: 100vh
  //background-color: rgba(green,0.3)
  background-image: url('../img/bg-forest-photo.jpg')
  background-repeat: no-repeat
  background-size: cover
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba(#fff, 0.8)
  &__tabs
    position: relative
.tabs
  &__title
    margin: 0
    padding: 20px
    padding-left: 10px
    color: #455a64
    font-weight: 500
    font-size: 1.3rem
  &__subtitle
    color: #455a64
    font-weight: 500
    margin-bottom: 17px
  &__list
    margin: 0
    padding: 0
    list-style: none
    @extend %clearfix
    background: #f0efe9
  &__list-item
    float: left
    background: #f0efe9
    border-right: 2px solid #fff
    &:hover
      background: #fff
    &.active
      background: #fff
      .tabs__link
        color: #00bfa5

  &__link
    display: inline-block
    padding: 25px 35px
    text-align: center
    text-decoration: none
    transition: 0.1s
    text-transform: uppercase
    color: #455a64
    opacity: 0.8
    font-weight: bold
  &__content
    display: none
    padding: 5px 20px
    @extend %clearfix
    &.active
      display: block
.admin
  &__skill-title
    color: #455a64

  &__skill
    float: left
    //vertical-align: top
    padding: 10px
  &__skill-list
    list-style: none
    margin: 0
    padding: 0
  &__skill-item
    margin-bottom: 20px
    padding: 5px

.admin-form
  @extend %clearfix
  &__label
    position: relative
  &__input-container
    width: 300px
    height: 45px
  &__input
    width: 100%
    height: 100%
    
  &__button-submit
    clear: both
    display: block
    //width: 120px
    border-radius: 5px
    background-color: #00bfa5
    outline: none
    padding: 10px 20px
    border: none
    cursor: pointer
    color: rgba(#fff,0.8)
    &:hover
      color: rgba(#fff,1)
      background-color: #00987e

